@font-face {
  font-family: Rockwell;
  src: url(/_/fonts/rock.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Rockwell;
  src: url(/_/fonts/rockb.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Be Vietnam";
  src: url(/_/fonts/be/BeVietnam-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Be Vietnam";
  src: url(/_/fonts/be/BeVietnam-Bold.ttf);
  font-weight: bold;
}

:root {
  --bg-color: #fff;
  --a-color: #000;
  --a-hover-color: #50A5F6;
  --outline-focus-color: #7BAAD4;
  --outline-color: #E5E5E5;
  --bg-hover-color: #EAECEF;
}

* {
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--a-color);

  &:hover {
    color: var(--a-hover-color);
  }
}

.content {
  a {
    color: var(--a-hover-color);
    text-decoration: underline var(--a-hover-color);
  }

  a[data-flink] {
    font-size: 12px;
    display: inline-block;
    margin-top: -3px;
    vertical-align: top;
  }

  .quote {
    padding: 0 20px 0 30px;
    margin-right: 80px;
    background: url(/_/quote.svg) left top no-repeat, url(/_/quote2.svg) right bottom no-repeat;
    background-size: 25px;
  }

  .list-item {
    margin: 0;
  }
}
