@font-face {
  font-family: Rockwell;
  src: url(/assets/fonts/rock.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Rockwell;
  src: url(/assets/fonts/rockb.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Be Vietnam";
  src: url(/assets/fonts/be/BeVietnam-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Be Vietnam";
  src: url(/assets/fonts/be/BeVietnam-Bold.ttf);
  font-weight: bold;
}

:root {
  --bg-color: #fff;
  --a-color: #000;
  --a-hover-color: #50A5F6;
  --outline-focus-color: #7BAAD4;
  --outline-color: #E5E5E5;
  --bg-hover-color: #EAECEF;
}

* {
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--a-color);

  &:hover {
    color: var(--a-hover-color);
  }
}

.content {
  a {
    color: var(--a-hover-color);
    text-decoration: underline var(--a-hover-color);
  }

  a[data-flink] {
    font-size: 12px;
    display: inline-block;
    margin-top: -3px;
    vertical-align: top;
  }

  .quote {
    padding: 0 20px 0 30px;
    margin-right: 80px;
    background: url(/assets/quote.svg) left top no-repeat, url(/assets/quote2.svg) right bottom no-repeat;
    background-size: 25px;
  }

  .list-item {
    margin: 0;
  }
}

.panel-left {
  flex: 1 0 160px;
}

.panel-right {
  flex: 6 6 0;
}

.meta-page {
  .title {
    margin-bottom: 24px;

    .primary {
      font-size: 24px;
      font-weight: bold;
    }

    .secondary {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    .circle {
      display: inline-block;
      text-align: center;
      width: 20px;
      padding-left: 3px;
    }
  }

  .content {
    line-height: 28px;
  }
}
